:root {
	color: rgb(95, 81, 0);
	/* --main-rgb: 6, 172, 0;
	--bg-rgb: 95, 81, 0; */
	--main-rgb: 255, 255, 255;
	--bg-rgb: 245, 245, 245;
	--main-color: rgb(var(--main-rgb));
	/* --main-color: rgb(255, 0, 0); */
	--bg-color: rgb(var(--bg-rgb));
	--selection-color: rgb(49, 49, 49);
	--text-color: rgb(0, 0, 0);
	--standard-spacing: 5px;
	--border-width: 1px;

	/* player */
	--p-border-width: 1px;
	--p-thumb-size: 16px;
	--p-line-width: 2px;
	--p-spacing: 5px;
}

/* :root {
	--main-color: rgb(173, 173, 173);
	--bg-color: rgb(27, 27, 27);
	--selection-color: rgb(255, 68, 68);
	--text-color: var(--text-color);
	--standard-spacing: 10px;
	--border-width: 2px;
} */

.space {
	height: 80px;
}

.user-select-none {
	-webkit-user-select: none;
	user-select: none;
}

.image-fit {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.hide {
	display: none !important;
}

* {
	outline: none;
	outline-color: rgb(6, 167, 0);
	outline-width: 4px;
	outline-offset: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
	font-family: "IBM Plex Mono", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--text-color);
}

p {
	margin-bottom: 1rem;
}

::selection {
	background: var(--text-color);
	color: var(--bg-color);
}

ul {
	list-style: square;
}

a {
	color: var(--text-color);
}

.description {
	word-wrap: break-word;
	width: 100%;
}

.ignoreClick {
	pointer-events: none;
}
